<div class='profile-card rounded btn-shadow-inset push-btn' ...attributes>
  <img src={{@profileImg}} class='profile-img' alt='' role='presentation' />
  <h4 class='profile-title'>{{@profileName}}</h4>
</div>